<form action="/" method="post">
    <table border="1">
        <caption>LDAP OTP Radius User Credential</caption>
        <tr>
            <th>LDAP User Name</th>
            <th>LDAP Password+OTP</th>
            <th>Realm Name</th>
            <th>Radius Shared Secret</th>
        </tr>
        <tr>
            <td><input name="userName"  type="text"></td>
            <td><input name="otpPassword"  type="text"></td>
            <td><input name="realm"  type="text" value=""></td>
            <td><input name="secret" type="password" value="secret"></td>
        </tr>
    </table>
    <p><input type="submit" value="Connect To Radius Server"> => Test Status: {{status}}</p>
</form>
