       <form action="/" method="post">
<table border="1">
    <caption>LDAP OTP Radius User Credential</caption>
    <tr>
        <th>LDAP User Name</th>
        <th>LDAP Password+OTP</th>
        <th>Realm Name</th>
        <th>Test</th>
        <th>Test Status</th>
    </tr>
    <!--
    <tr>
        <td><input name="userName"  type="text" value="radius01"></td>
        <td> <input name="otpPassword"  value="rad+#ius"></td>
        <td> <input name="realm"  type="text" value="vpn-test"></td>
        <td>
                <p>
                Radius Shared Secret:
                <br>
                <input name="secret" value="6jvWYn7PDSsW" type="password"></p>
                </p>
                <p><input type="submit" value="Connect To Radius Server"></p>
        </td>
        <td>{{status}}</td>
    </tr>
    -->
    <!--
    <tr>
        <td><input name="userName"  type="text" value="test3lg"></td>
        <td> <input name="otpPassword"  value="k79gF1jfW903"></td>
        <td> <input name="realm"  type="text" value="vpn-test"></td>
        <td>
                <p>
                Radius Shared Secret:
                <br>
                <input name="secret" value="6jvWYn7PDSsW" type="password"></p>
                </p>
                <p><input type="submit" value="Connect To Radius Server"></p>
        </td>
        <td>{{status}}</td>
    </tr>
    -->
    <!--
    <tr>
        <td><input name="userName"  type="text" value="test2lg"></td>
        <td> <input name="otpPassword"  value="Cisco@mgm123"></td>
        <td> <input name="realm"  type="text" value="vpn-test"></td>
        <td>
                <p>
                Radius Shared Secret:
                <br>
                <input name="secret" value="6jvWYn7PDSsW" type="password"></p>
                </p>
                <p><input type="submit" value="Connect To Radius Server"></p>
        </td>
        <td>{{status}}</td>
    </tr>
    -->
    <!-- -->
    <tr>
        <td><input name="userName"  type="text" value="test1"></td>
        <td> <input name="otpPassword"  value=""></td>
        <td> <input name="realm"  type="text" value="mgmsso"></td>
        <td>
                <p>
                Radius Shared Secret:
                <br>
                <input name="secret" value="6jvWYn7PDSsW" type="password"></p>
                </p>
                <p><input type="submit" value="Connect To Radius Server"></p>
        </td>
        <td>{{status}}</td>
    </tr>
    <!-- -->
</table>
            </form>
