       <form action="/serviceAccount" method="post">
<table border="1">
    <caption> Radius Service account Realm Example</caption>
    <tr>
        <th>call radius using Service Account(Service to Service call)</th>
        <th>Test</th>
        <th>Test Status</th>
    </tr>
    <tr>
        <td>
                <p>
                Radius Shared Secret:
                <br>
                <input name="secret" type="password" value="secret"></p>
                </p>
                <p><input type="submit" value="Connect To Radius Server"></p>
        </td>
        <td>{{status}}</td>
    </tr>
</table>

            </form>
