# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js Examples

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: cd Examples/ConditionAccessRequestJSExample && npm i
    - run: cd Examples/OneTimePasswordJSExample && npm i
    - run: cd Examples/OTPPasswordJSExample && npm i
    - run: cd Examples/RadiusAuthorizationJSExample && npm i
    - run: cd Examples/RadiusDefaultRealmJSExample && npm i
    - run: cd Examples/RadiusServiceAccountJSExample && npm i
    - run: cd Examples/WebAuthnJSExample && npm i
